/***************
*
* Color definitions
*
***************/



//Primary Palette
$blue: #00beef;
$magenta:  #D10457;

//Secondary Palette


//Neutrals
$grey-lightest: #E9E9E9;
$grey-light: #bcbec0;
$grey: #666;
$gray-dark: #343434;
$white: white;
